
{% extends "templates/web.html" %}

{%- block banner -%}
		
	{%- endblock -%}

	{%- block navbar -%}
		
	{%- endblock -%}
{% block page_content %}
<link rel="stylesheet" href="../css/recharge.css">
<link rel="stylesheet" href="../css/custom.css">
<body data-path="recharge" class="">
<div id="page-recharge" data-path="recharge">
	
<div class="page-content-wrapper">
	<main class="container my-4">

		<div class="page_content">
<!-- recharge.html -->
<div>
	<section class="for-recharge" style="">
		<div class="recharge-content page-card">
			
		<div class="page-card-head">
		<img src="../images/DESIGNERS LOGO.png" alt="" width="72" height="72">
		<h4>Contact {{designer}}</h4>
		</div>

			<form class="form-recharge" role="form">
	

	
			<div class="page-card-actions d-flex justify-content-center" id="buttons">	

				<button class="btn btn-sm btn-primary btn-block btn-recharge" id="send">Send Email</button>					
				
			
			</div>

		<div class="text-center sign-up-message" id="url_return" >
			
			
			
		</div>
	
	</section>
		
		
		</form>

		</div>

		
		</div>
		</div>

		
		</main>
	
		</div>

		</div>

		</div>
		</div>
		</div>
		</div>

	<!-- js should be loaded in body! -->
</body>



{% endblock %}


