{% extends "templates/store/base.html" %}

{% block body %}

<main class="container mb-6">
    <nav class="breadcrumb mt-4" aria-label="breadcrumbs">
        <ul>
            <li><a href="/store">Store</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ doc.name }}</a></li>
        </ul>
    </nav>

<div class="columns">
    <div class="column is-one-third">
        <img class="cover-image px-6" src="{{ doc.image }}" alt="Post Image">
    </div>
    <div class="column">
        <div>
            <h1 class="title is-1">{{ doc.name }}</h1>
        </div>
        <div class="mt-3">
            <span class="tag is-link is-normal">{{ doc.description }}</span>
        </div>
        <h2 class="subtitle is-4">by {{ post.owner }}</h2>
    </div>
</div>


<section class="container" x-data="{activeTab: 'description'}">
    <div class="tabs">
        <ul>
            <li :class="activeTab == 'description' ? 'is-active': ''" @click="activeTab = 'description'"><a>Description</a></li>

            <li :class="activeTab == 'toc' ? 'is-active': ''" @click="activeTab = 'toc'"><a>TOC</a></li>
            
            <li :class="activeTab == 'bio' ? 'is-active': ''" @click="activeTab = 'bio'"><a>About the author</a></li>
        </ul>
    </div>

    <div x-show="activeTab == 'description'">
        <p>{{ frappe.utils.md_to_html(doc.description) }}</p>
    </div>

    <div x-show="activeTab == 'toc'">
        <p> ""frappe.utils.md_to_html(doc.description)"" </p>
    </div>

    <div x-show="activeTab == 'bio'">
        <p>{{ frappe.utils.md_to_html(post.description) }}</p>
    </div>
</section>

{% endblock %}